<section class="main">
    <div class="login__form">
        <!-- FORMULARIO LOGIN -->
        <form [formGroup]="loginForm">
            <!-- EMAIL -->
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Placeholder">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>email</mat-hint>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Placeholder">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>email</mat-hint>
            </mat-form-field>

        </form>
    </div>
</section>
