// COLORS
$white: #ffffff;  
$black: #191726;
$red: 	#990000;
$pink: #EE72BA;

// GRAY
$gray_dark: #252839;// almost black
$gray_silver: #C0C0C0;// dark
$gray_gainsboro: #f7f4f4;
$gray_light    : #C8C8C8;

// SUCCESS
$success_light: #5ccb5f;
$success_medium: #009929;
$success_dark: #006414;
// DANGER
$danger_light: #ef2947;
$danger_medium: #e80729;
$danger_dark: #a02f2f;

// COLORS 2.0
$classic: #C1C1C1;
$primary: #7F2CB0;
$accent : #5056BF;
$danger : $danger_dark;
$info   : #2A7FC0;
$warning: #E7AB79;

// PADDING
$padding: 14px;

// BORDER RADIUS
$border_radius_default: .25rem;

// SIZE 
$max-width-container: 1500px !important;