<section class="main_error fade__in bg-img">
    <!-- <div *ngIf="displayed_error?.data?.title" class="alert alert__success z_2">
        {{ displayed_error.data.title }}
    </div>
    <div *ngIf="displayed_error?.data?.subtitle" class="alert alert__success z_2">
        {{ displayed_error.data.subtitle }}
    </div>
    <div *ngIf="displayed_error?.data?.message" class="alert alert__success z_2">
        {{ displayed_error.data.message }}
    </div> -->
    <img class="image__error abs" [src]="image.src" [alt]="image.alt">
</section>
